.sentiment{
    background: #fff;
    border-radius: 1rem;
    border: 1px solid rgba(193, 193, 193, 0.5);
}

.sentiment h2{
    margin-bottom: 0;
    padding: 1.5rem;
    padding-bottom: 1rem;
    color: #222;
    font-size: 1.5rem;
    font-weight: 550;
}

.sentiment h3{
    padding: 0 1.5rem;
    color: rgba(104, 103, 103, 1);
    font-size: .95rem;
    font-weight: 550;
}

.slider-wala{
    padding: 2rem 1.5rem;
    padding-top: 0rem;
}

@media screen and (max-width: 850px) {
    .sentiment h2{
        padding: 1rem;
    }

    .sentiment h3{
        padding: 0 1rem;
        font-size: .9rem;
    }
}